h1 {
  text-align: center;
  color: #DAA520;
  padding-bottom: 10px;
}

h5 {
  color: #DAA520;
  text-align: center;
}

p {
  color: #2b2b2b;
  font-size: 1ve;
  text-align: center;
}

a {
  text-decoration: none !important;
  color: #DAA520!important;
}


/*---------------------------------- Nav Bar --------------------------------*/
.navbar-custom {
    background-color: #2b2b2b;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #DAA520!important;
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: #DAA520!important;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link {
    color: #DAA520!important;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item:hover .nav-link {
    color: #efefef!important;
}

/* for dropdown only - change the color of droodown */
.navbar-custom .dropdown-menu {
    background-color: #2b2b2b;
}

.navbar-custom .dropdown-item {
    color: #DAA520!important;
}

.navbar-custom .dropdown-item:hover,
.navbar-custom .dropdown-item:focus {
    color: #333333;
    background-color: rgba(255,255,255,.5);
}



/*------------------------------- Slider -------------------------------------*/
#slider {
  width: 100%;
}


/*------------------------------- About -------------------------------------*/
#about {
  padding-top: 40px;
  padding-bottom: 40px;
  color: #555;
}

.about-content {
  padding-top: 20px;
  padding-left: 100px;
  padding-right: 100px;
}

/*-------------------------------- About Us ----------------------------------*/
div .borders {
  border: 2px solid #daa520;
  margin-left: 2em;
  margin-right: 2em;
  padding: 30px;
}



/*------------------------------- Contact ------------------------*/
#enquiry {
  padding-top: 40px;
  padding-bottom: 40px;
}

#enquiry label {
    color: #DAA520;
}

.btn-submit {
  background-color: #DAA520;
  border-radius: 10px;
  color: white;
  border: none;
  text-decoration: none;
  padding: 5px;
}


/*---------------------------------- menu ------------------------------------*/
#footer {
  background: #2b2b2b;
  color: #fff;
  padding: 12px;
}

.footer {
  padding-top: 50px;
  padding-bottom: 50px;
}

.socials {
  text-align: center;
  padding: 10px 0px;
}

.socials a {
  display: inline-flex;
  width: 40px;
  height: 40px;
  color: white;
  margin: 0 10px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  font-size: 24px;
  text-decoration: none;
}

.socials a:hover
{
  background: #FFFFFF;
  border-color: #FFFFFF;
}

.socials a i
{
  transition: 0.4s all;
}

.fa-twitter
{
  color: #DAA520;
}

.fa-instagram
{
    color: #DAA520;
}

.fa-envelope
{
    color: #DAA520;
}

.fa-phone
{
    color: #DAA520;
}

.footer-msg
{
  text-align: center;
  color: #DAA520;
}
